/* сброс настроек браузера */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calc {
  margin: 50px auto;
  width: 300px;
  height: 500px;
  /* border: 1px solid #000; */
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-family: Arial;
  padding: 18px;
  box-shadow: 4px 4px 4px #4f4f4f;
}

.calc-screen {
  height: 125px;
  padding: 10px;

  /* переместить <p> направо вниз */
  display: grid; 
  justify-items: end;
  align-items: end;

  margin-bottom: 15px;
}

.calc-screen p {
  font-size: 4rem;
  margin: 0;
}

/* выровняли кнопки; задали сетку */
.buttons {
  display: grid;
  grid-template-areas:
  'seven eight nine division'
  'four five six multiply'
  'one two three minus'
  'clean zero dot plus'
  'equal equal equal equal';

  /* расстояние между кнопками*/
  column-gap: 7px;
  row-gap: 7px;

  /* выравнивание кнопки по центру в отдельной ячейке сетки */
  justify-items: center;
}

.btn {
  width: 60px;
  height: 60px;
  background: #333;
  border-radius: 50%;
  text-align: center; /* выравнивание по ширине */
  line-height: 60px; /* выравнивание по высоте; значение равно высоте контейнера */
  font-size: 1.5rem;

  cursor: pointer;
  user-select: none; /* чтобы не было синего выделения при двойном клике на кнопку */
}

.btn.equal {
  grid-area: equal; /* какие ячейки занимает кнопка*/
  width: 100%;
  border-radius: 35px;
}

/* при наведении */
.btn:hover {
  filter: brightness(120%); /* увеличили яркость при наведении */
}

/* при нажатии */
.btn:active {
  filter: brightness(90%); /* уменьшили яркость при нажатии */
}

.btn.bg-orange {
  background: #ff9501;
}

.btn.bg-red {
  background: #ff5050;
}

.btn.bg-blue {
  background: #5b50ff;
}

